* {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 48px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
}

header > h1 {
  font-size: 24px;
}

header > nav > a {
  margin-left: 16px;
  text-decoration: none;
  color: black;
}

.banner {
  background-color: rgb(210, 228, 254);
  color: rgb(0, 105, 255);
  height: 100px;
  width: 100%;
  position: fixed;
  top: 80px;
  padding: 16px;
}

.banner > p {
  width: 80%;
}

.dismiss-button {
  color: rgb(0, 105, 255);
  position: absolute;
  top: 4px;
  right: 4px;
  border: 1px solid rgba(0, 105, 255, 0.2);
  padding: 4px 8px;
  font-size: 12px;
}

#dismiss:checked ~ .banner {
  display: none;
}

.display-picture {
  height: 600px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://images.unsplash.com/photo-1519735777090-ec97162dc266?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1115&q=80");
}

main {
  padding: 48px;
  padding-top: 0;
  background-color: white;
}

main h1 {
  font-size: 36px;
  margin-bottom: 36px;
}

main p {
  line-height: 18px;
  font-size: 14px;
  margin-bottom: 16px;
}

section {
  padding-top: 104px;
}
